body{
    margin: 1% 2%;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: tomato;
    color: white;
}
hr{
    margin: 15px 0;
    border: 1px solid white;
}
input{
    padding: 5px 10px;
    color: white;
    border: 2px solid white;
    background-color: transparent;
    outline: none;
}
button{
    padding: 5px 20px;
    font-size: 16px;
    color: white;
    border: 2px solid white;
    background-color: transparent;
    cursor: pointer;
    outline: none;
}
button:hover{
    color: tomato;
    background-color: white;
}
p{
    cursor: default;
}
a{
    color: white;
}

.btn{
    font-weight: 600;
    cursor: pointer;
}
.btn:hover{
    text-decoration: underline;
}


#nick{
    text-transform: uppercase;
    font-weight: 900;
}