<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>Sart Game!</title>

    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/foundation.min.css">
</head>
<body>

    <div id="vue">

        <section class="row">
            <div class="small-6 columns">
                <h1 class="text-center fightersName" @click="checkNameFighters">{{ player1 }}</h1>
                <input type="text" v-model="player1" v-if="checkInput">
                <div class="healthbar">
                    <div class="healthbar text-center healthBox" :style="{width: playerHealth + '%'}">
                        <span class="healthNumber">{{ playerHealth }}</span>
                    </div>
                </div>
            </div>
            <div class="small-6 columns">
                <h1 class="text-center fightersName" @click="checkNameFighters">{{ player2 }}</h1>
                <input type="text" v-model="player2" v-if="checkInput">
                <div class="healthbar">
                    <div class="healthbar text-center healthBox" :style="{width: monsterHealth + '%'}">
                        <span class="healthNumber">{{ monsterHealth }}</span>                        
                    </div>
                </div>
            </div>
        </section>

        <section class="row controls" v-if="!gameIsRunning">
            <div class="small-12 columns">
                <button id="start-game" @click="startGame">START NEW GAME</button>
            </div>
        </section>

        <section class="row controls" v-else>
            <div class="small-12 columns">
                <button id="attack" @click="attack">ATTACK</button>
                <button id="special-attack" @click="specialAttack">SPECIAL ATTACK</button>
                <button id="heal" @click="heal">HEAL</button>
                <button id="give-up" @click="giveUp">GIVE UP</button>
            </div>
        </section>

        <section class="row log" v-if="turns.length > 0">
            <div class="small-12 columns">
                <ul>
                    <li v-for="turn in turns" :class="turn.type">{{ turn.text }}</li>
                </ul>
            </div>
        </section>

    </div>
<script src="js/vue.js"></script>
<script src="js/main.js"></script>
</body>
</html>