@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700');

*::selection{
    background-color: transparent;
}

body{
    font-family: 'Roboto Condensed', sans-serif !important;
}
body::-webkit-scrollbar{
    width: 0px;
}

button {
    margin: 10px !important;
    padding: 12px !important;
    font-size: 20px;
    font-weight: 700 !important;
    color: #fff !important;
    box-shadow: 0 1px 1px #525252;
    outline: none;
}
button:active {
    box-shadow: 0 0 1px #525252;
}
.text-center {
    text-align: center;
    color: #212121;
}

input{
    text-align: center;
    margin-bottom: 20px !important;
    padding: 5px;
    color: #212121;
    outline: none;
    border: 1px solid #ccc;
    box-shadow: 0px 3px 6px #ccc;
    transition: 0.5s ease-in-out;
}
input::selection{
    color: #fff;
    background-color: #607D8B;
}

.small-6{
    text-align: center;
}

.healthbar {
    width: 99%;
    height: 30px;
    background-color: #eee;
    margin: auto;
    transition: width 0.5s ease-in-out;
    cursor: crosshair;    
}
.healthNumber{
    font-weight: 600;
    line-height: 30px;
}
.healthNumber::after{
    content: '%';
}
.healthBox{
    margin: 0;
    color: #fff;
    background-color: green;
}

.fightersName{
    text-transform: uppercase;
    cursor: pointer;
}

.controls, .log {
    margin-top: 30px;
    text-align: center;
    padding: 10px;
    border: 1px solid #ccc;
    box-shadow: 0px 3px 6px #ccc;
}

.turn {
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 22px;
}

.log ul {
    list-style: none;
    font-weight: bold;
    text-transform: uppercase;
}

.log ul li {
    margin: 5px;
}

.monsterAttack{
    color: #212121;   
}
.attack{
    color: #D84315;
}
.specialAttack{
    color: #FF6D00;
}
.heal{
    color: #2E7D32;    
}

#start-game {
    padding: 20px !important;
    font-size: 24px;
    background-color: #607D8B;
}

#start-game:hover {
    background-color: #546E7A;
}

#attack {
    background-color: #E64A19;
}

#attack:hover {
    background-color: #D84315;
}

#special-attack {
    background-color: #FF9100;
}

#special-attack:hover {
    background-color: #FF6D00;
}

#heal {
    background-color: #388E3C;
}

#heal:hover {
    background-color: #2E7D32;
}

#give-up {
    background-color: #BDBDBD;
}

#give-up:hover {
    background-color: #9E9E9E;
}